extends ../base.pug

append stylesheets

block title
  title Contact Me

block body
  h1 Contact Me
  p Phone number: #[br] 727 - 619 - 4478
  p Email: #[br] joelsingh788@gmail.com
  p Let's make something great together
