extends ../base.pug

append stylesheets

block title
  title Portfolio

block body
  h1 Portfolio
  p A list of my various web development projects. Most have been done as I was going through The Odin Project curriculum.

  h2 Where's Waldo
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Sweet Memory
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Task App
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 TODO List
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Tic tac toe
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Admin Dashboard
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Calculator
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here

  h2 Buy Me Shopping Cart
  p Add a short description here
  img.right(alt="TODO Add image")
  p link here
