extends ../base.pug

append stylesheets
  link(rel="stylesheet", href="./stylesheets/portfolio.css")

block title
  title Portfolio

block body
  h1 Portfolio
  p A list of my various web development projects. Most have been done as I was going through The Odin Project curriculum.

  h2 Where's Waldo
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 Sweet Memory
  img.right(alt="" src="./assets/images/sweet_memory.png" width="800px")
  p Add a short description here
  p link here

  h2 Task App
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 TODO List
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 Tic tac toe
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 Admin Dashboard
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 Calculator
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here

  h2 Buy Me Shopping Cart
  img.right(alt="TODO Add image")
  p Add a short description here
  p link here
