
html
  head
    title Joel Singh
    meta(charset="utf-8")
    block stylesheets
      link(rel="stylesheet", href="/stylesheets/reset.css")
      link(rel="stylesheet", href="/stylesheets/default.css")
  body
    block body
