extends base.pug

block body
  include header

  h2 My Life story
  p Low income family, poor, food insecurity, wanting to be a programmer. and more idot. Talk about the odin project and your grades and other cool stuff.

  h2 Cool things I'm into
  p Robotics and key club (add more doofus)

  h2 My Programming Projects
  p Hi mom
