extends base.pug

append stylesheets
  link(rel="stylesheet", href="../public/stylesheets/index.css")

block body
  h1 Joel Singh
  a.a--about-me(href="/about-me") About me
  a.a--contact(href="/contact-me") Contact
  img.fade-in(src="../public/assets/images/final_shoulder_shot.png" alt="Picture of JOEL SINGH")
  a.a--portfolio(href="/portfolio") Portfolio
  a.a--resume(href="/resume") Resume

block stickyHeader
