extends base.pug

block body
  h1 Joel Singh
  a.a--about-me(href="./about-me") About me
  a.a--contact(href="./contact") Contact
  img(src="./assets/images/gray_scale_final_shoulder_shot.png" alt="Picture of JOEL SINGH")
  a.a--portfolio(href="./portfolio") Portfolio
  a.a--resume(href="./Resume") Resume
