extends base.pug

block body
  h1 Joel Singh
  a(href="./about-me") About me
  a(href="./contact") Contact
  img(src="./assets/images/gray_scale_final_shoulder_shot.png" alt="Picture of JOEL SINGH")
  a(href="./portfolio") Portfolio
  a(href="./Resume") Resume
