h1:first-of-type {
  margin-top: 0;
}

img {
  height: 500px;
  margin-top: 20px;
}

img.right {
  float: right;
  margin-left: 15px;
  clear: both;
}

img.left {
  float: left;
  margin-right: 15px;
  clear: both;
}
