@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&display=swap");

:root {
  --dark-purple: #3d2a35;
  --purple: #734967;
  --light-purple: #c0a4b4;
  --very-light-pink: #ffb7cb;

  --pure-white: rgb(255, 255, 255);
  --pure-black: rgb(0, 0, 0);
  background-color: var(--pure-black);
  color: var(--pure-white);
}

body {
  font-family: "Chivo Mono", monospace;
  text-align: center;
  position: relative;

  font-size: 3rem;

  display: flex;
  flex-direction: column;
}

body > img {
  height: 80vh;
  margin: auto;
  flex: 0;
}

h1 {
  margin: 0;
}
