@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

:root {
  --dark-purple: #3d2a35;
  --purple: #734967;
  --light-purple: #c0a4b4;
  --very-light-pink: #ffb7cb;

  background-color: var(--dark-purple);
  color: var(--very-light-pink);
}

body {
  font-family: "Inconsolata", monospace;
  text-align: center;
  position: relative;
  font-family: "Times New Roman", Times, serif;

  background-color: var(--purple);
  background-color: var(--dark-purple);
  font-size: 3rem;
}

img {
  height: 80vh;
  aspect-ratio: auto;
}

h1 {
  margin: 0;
}
