extends base.pug

append stylesheets
  link(rel="stylesheet", href="../stylesheets/index.css")

block body
  h1 Joel Singh
  a.a--about-me(href="/about-me") About me
  a.a--contact(href="/contact-me") Contact
  img.fade-in(src="../assets/images/final_shoulder_shot.png" alt="Picture of JOEL SINGH")
  a.a--portfolio(href="/portfolio") Portfolio
  a.a--resume(href="https://flowcv.com/resume/qmt7nt4wio") Resume

block stickyHeader
