extends base.pug

append stylesheets
  link(rel="stylesheet", href="./index.css")

block body
  h1 Joel Singh
  a.a--about-me(href="/about-me") About me
  a.a--contact(href="/contact-me") Contact
  a.a--portfolio(href="/portfolio") Portfolio
  a.a--resume(href="https://flowcv.com/resume/qmt7nt4wio" target="_blank") Resume

block stickyHeader
